@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "tailwindcss";




@keyframes bounceCustom {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-8px);
  }
}

@keyframes rotateCustom {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-bounce-custom {
  animation: bounceCustom 1s ease-in-out infinite alternate;
}

.animate-rotate-custom {
  animation: rotateCustom 3s linear infinite;
}


@keyframes twinkle {

  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}

.animation twinkle {
  animation: 3s infinite alternate
}

body {
  font-family: 'Poppins', sans-serif;
}

.no-scrollbar {
  scrollbar-width: none;
}

button:hover {
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(45deg, #3b82f6, #8b5cf6);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(45deg, #3b82f6, #8b5cf6);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.slider:disabled::-webkit-slider-thumb {
  background: #6b7280;
  cursor: not-allowed;
}

.slider:disabled::-moz-range-thumb {
  background: #6b7280;
  cursor: not-allowed;
}